###############################################################################
# JavaScript Library Monorepo Workflow
# Build, test and publish JavaScript libraries from a monorepo using
# pnpm workspaces and changesets.
###############################################################################
# Changes in V2:
# - NPM authentication is done with OIDC and now longer with auth tokens
# - @changesets/cli is used for versioning and publishing
# - Handles monorepos with pnpm workspaces
# Notes:
# - Merging to the "main" branch will publish a production release
# - Merging to any other branch will publish a snapshot release

on:
  workflow_call:
    inputs:
      node-versions:
        description: 'Node versions to use'
        required: false
        default: '[20,22,24]'
        type: string
      publish-node-version:
        description: 'Node version to use for publish'
        required: false
        default: '24'
        type: string
      pnpm-version:
        description: 'PNPM version to use'
        required: false
        type: string
      github-email:
        description: 'GitHub email for pushing'
        required: false
        default: '41898282+github-actions[bot]@users.noreply.github.co'
        type: string
      github-name:
        description: 'GitHub name for pushing'
        required: false
        default: 'github-actions[bot]'
        type: string
    secrets:
      private-key:
        description: "GitHub App Key"
        required: true
      app-id:
        description: "GitHub App ID"
        required: true
permissions:
  contents: write
  pages: write
  id-token: write
jobs:
  javascript-library:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ${{ fromJson(inputs.node-versions) }}
    steps:
      #------------------------------------------------------------------------
      # Setup
      #------------------------------------------------------------------------
      - name: "Generate token"
        id: app-token
        uses: getsentry/action-github-app-token@v3
        with:
          app_id: ${{ secrets.app-id }}
          private_key: ${{ secrets.private-key }}
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}
      - name: "Setup pnpm"
        uses: pnpm/action-setup@v4
        with:
          version: ${{ inputs.pnpm-version }}
          run_install: false
      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'
      - name: "Get pnpm store directory"
        run: echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - name: "Setup pnpm cache"
        uses: actions/cache@v5
        with:
          path: ${{ env.STORE_PATH }}
          key: "${{ runner.os }}-${{ matrix.node-version }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}"
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node-version }}-pnpm-store-
      - name: "Check if monorepo"
        run: |
          if [ -f "pnpm-workspace.yaml" ]; then
            echo "PNPM_RECURSIVE=-r" >> $GITHUB_ENV
          else
            echo "PNPM_RECURSIVE=" >> $GITHUB_ENV
          fi
      #------------------------------------------------------------------------
      # Build
      #------------------------------------------------------------------------
      - name: "Install dependencies"
        run: pnpm ${{ env.PNPM_RECURSIVE }} i --frozen-lockfile --prefer-offline
      - name: "Snapshot version packages"
        if: matrix.node-version == inputs.publish-node-version && github.ref == 'refs/heads/develop' && github.event_name != 'pull_request'
        run: npx @changesets/cli version --snapshot snapshot
      - name: "Release version packages"
        if: matrix.node-version == inputs.publish-node-version && github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        run: npx @changesets/cli version
      - name: "Build"
        run: pnpm ${{ env.PNPM_RECURSIVE }} build
      - name: "Test"
        run: pnpm ${{ env.PNPM_RECURSIVE }} test
      - name: "Publish snapshot packages"
        if: matrix.node-version == inputs.publish-node-version && github.ref == 'refs/heads/develop' && github.event_name != 'pull_request'
        run: npx @changesets/cli publish --tag snapshot --no-git-tag
      - name: "Commit and push release version bump"
        if: matrix.node-version == inputs.publish-node-version && github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        run: |
          git config user.email "${{ inputs.github-email }}"
          git config user.name "${{ inputs.github-name }}"
          git commit -a -m "Publish packages" -m "[skip ci]"
          git push
      - name: "Publish release packages"
        if: matrix.node-version == inputs.publish-node-version && github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        run: npx @changesets/cli publish
      - name: "Push release tags"
        if: matrix.node-version == inputs.publish-node-version && github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        run: git push --follow-tags
