name: 'Publish'
on:
  push:
    branches:
      - '**'
  workflow_dispatch:
permissions:
  contents: write
  pages: write
  id-token: write
jobs:
  publish:
    uses: ./.github/workflows/javascript-library-v2.yml
    if: github.actor != 'dependabot[bot]'
    secrets:
      app-id: ${{ secrets.RELEASE_BOT_ID }}
      private-key: ${{ secrets.RELEASE_BOT_KEY }}
